<%- include ('./partials/header') %>
<header class="masthead" style="background-image: url('https://images3.privateschoolreview.com/photo/1122x864/14000/13507/cats-academy-boston-62BWYK.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<p>
 
  
 
  
  
  CATS Academy Boston is an international boarding school based in Braintree, Boston. 
  We offer a world-class education, attracting students from across the globe. In a diverse and exciting international community, you will learn to be your best and achieve a place at a top university.
  
  Academic building
  At CATS Academy, our primary focus is getting you into the top U.S. university for you. Unlike many other countries where admission is based on standardized test scores, U.S. universities and colleges take into account everything about a student, not just academics.
  
  Our program builds your talent, focusing as much on developing you into a well-rounded individual as it does on grades and exams. This approach enables the international student body not only to gain entry to, but also to succeed in, American colleges and universities.
  
  We support you every step of the way, from teachers who know how to adapt lessons to build confidence in English to dorm parents who know what living so far away from home means.
  
  CATS Academy Boston is accredited by NEASC - New England Association of Schools and Colleges
  
  
</p>
      
      </div>
    </div>
  </div>

  <hr>
<%- include ('./partials/footer') %>
