<%- include ('./partials/header') %>
<header class="masthead" style="background-image: url('https://saba.com.ge/content/images/book/o/cebff16151f64c578e0862c22af03bdf.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>მოკლე შინაარსი</h1>
            <span class="subheading">სოლომან მორბელაძის</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<p>
 
  
 
  
  
  „ჩემს სიცოცხლეში არავისთვის დამიცინია. მე მებრალებოდა ადამიანი, რომელიც ცხოვრებამ გააუბედურა და სასაცილო მდგომარეობაში ჩააყენა. …რასაც ვწერდი, მხოლოდ ადამიანის სიყვარული მაწერინებდა“, – ამბობდა დავით კლდიაშვილი და, მართლაც, თავის პერსონაჟებს ჰუმანიზმით სავსე სატირით, „ცრემლნარევი სიცილით“ წარმოგვიდგენდა.

  
  
</p>
      
      </div>
    </div>
  </div>

  <hr>
<%- include ('./partials/footer') %>
